---
name: Generate Changelog

on:
    push:
        branches:
            - main

permissions: {}

jobs:
    docs:
        name: Update Changelog
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Check out repository
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0
                  persist-credentials: true  # Required by EndBug/add-and-commit

            - name: Use cached artifacts
              uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5

            - name: Print Rust version
              run: rustc -vV

            - name: Install git-cliff
              run: cargo install --version 0.9.2 git-cliff

            - name: Generate Changelog
              run: git-cliff --output CHANGELOG.md

            - name: Check if changes any changes were made
              run: echo "GIT_DIRTY=$(git diff --quiet ; printf "%d" "$?")" >> "${GITHUB_ENV}"

            - name: Commit new changelog
              uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5
              if: env.GIT_DIRTY != null && env.GIT_DIRTY != '0'
              with:
                  add: CHANGELOG.md
                  message: 'chore(changelog): Update changelog after merge'
